@charset "UTF-8";
body {
    font-family: Arial, Verdana;
    padding: 10px;
    width: 90%;
    margin: 0 auto;}

h1, h3{
    text-align: center;
    padding: 10px;}

h1 {
    margin-top: 3em;
    letter-spacing: 0.1em;}

p {
    padding: 10px;
    font-family: Gergia, Times, serif;
    font-size: 1.1em;
    color: #7A7A7A}

img.large {
    width: 620px;
    height: 400px;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #777777;
    margin: 0px auto;}

#header {
    position: fixed;
    top: 10px;
    width: 90%;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding-top: 1em;
    background-color: #efefef;
    box-shadow: 5px 5px 5px #777777;
    padding-bottom: 1em;}

#header a {
    text-decoration: none;
    color: black}

#header a:hover, a:hover {
    color: red;
    text-shadow: 1px 1px 0px #000000;}

#footer {
    text-align: right;
    border-width: 2px;
    background-color: #efefef;
    border-style: solid;
    padding: 10px;
    box-shadow: 5px 5px 5px #777777;
    border-radius: 10px;}

.article-preview {
	border-style: solid;
	border-width: 2px;
	background-color: rgb(140, 202, 242);
	border-radius: 10px;
    	box-shadow: 5px 5px 5px #777777;
	margin: 10px;}

.article-preview h3 {
	letter-spacing: 0.1em;}

.article-preview p {
	color: black;}

.center {
    text-align: center;}

.iamhere {
    color: red;}

.logo {
    width: 40px;
    height: 40px;}

#logos a:hover {
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;}




